In [2]:
# We need to import some modules before we start
from datascience import Table

import matplotlib # the lines involving matplotlib allow for plotting
matplotlib.use('Agg')
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight') # 538 is a style in matplotlib, 
                                 # see https://tonysyu.github.io/raw_content/matplotlib-style-gallery/gallery.html for some other styles

### Demography 180 - Social Networks
### Lab 1 -- part 1

Welcome to the first lab for Demography 180 - Social Networks!

The first part of lab 1 is designed as a reference to help you learn the `table` in the datascience module. If you don't have much experience with using this module, it's a good reference for practice and re-visit when you work on part2 and hw02.

You don't have to submit part 1. But remember to submit lab 1 part 2 by the deadline (Friday, 2/8)!

# 0 The datascience module

We usually analyze data in the format of tables. The `table` in datascience module provides a very helpful tool for this lab and the future works we do in this class. This section aims to introduce you to some basic elements and syntax for using `table`.

## 0.1 Having the tables
A Table is a sequence of labeled columns of data.

A Table can be constructed from scratch by extending an empty table with columns.

In [3]:
# Construct a table from strach and assign it to a name 't'
t = Table().with_columns([
    'letter', ['a','b','c','z'], # contents in quotes '' are string texts. Words without quotes refer to variable names or function names.
    'count', [9, 3, 3, 1],
    'points', [1, 2, 2, 10],
])

In [4]:
# Let's see what you constructed
print(t)

letter | count | points
a      | 9     | 1
b      | 3     | 2
c      | 3     | 2
z      | 1     | 10

More usually, we load the dataset that we want to analyze via a path to the file.

In [6]:
Table.read_table('ucb_personal_networks_clean.csv') # need the location of the data

interview_number | interview_date | interview_time | respondent_gender | respondent_age | respondent_class | respondent_home       | number_alters | alter1_gender | alter1_age | alter1_class | alter1_home           | alter1_howclose | alter1_howoften       | alter2_gender | alter2_age | alter2_class | alter2_home           | alter2_howclose | alter2_howoften       | alter3_gender | alter3_age | alter3_class | alter3_home           | alter3_howclose | alter3_howoften       | alter4_gender | alter4_age | alter4_class | alter4_home           | alter4_howclose | alter4_howoften       | alter5_gender | alter5_age | alter5_class | alter5_home           | alter5_howclose | alter5_howoften
1                | 1/24/2019      | 10:40:00       | Male              | 21             | Senior           | Bay Area              | 5             | Male          | 21         | Senior       | LA Area               | Close friend    | Once a week           | Male          | 22         | Senior       | LA Area               | Friend          | Once a week           | Male          | 20         | Junior       | Rest of United States | Close friend    | Once a week           | Male          | 21         | Senior       | Rest of World         | Friend          | nan                   | Female        | 22         | Senior       | Bay Area              | Close friend    | Once a week
2                | 1/24/2019      | 11:14:00       | Male              | 25             | Other            | Bay Area              | 3             | Male          | 26         | Other        | Bay Area              | Close friend    | More than once a week | Female        | 24         | Other        | Rest of United States | Close friend    | More than once a week | Male          | 26         | Other        | Rest of United States | Close friend    | More than once a week | nan           | nan        | nan          | nan                   | nan             | nan                   | nan           | nan        | nan          | nan                   | nan             | nan
3                | 1/24/2019      | 11:19:00       | Female            | 25             | Other            | Rest of United States | 4             | Female        | 26         | Other        | Rest of United States | Close friend    | More than once a week | Female        | 28         | Other        | Rest of World         | Close friend    | More than once a week | Male          | 27         | Other        | Rest of United States | Close friend    | Once a week           | Female        | 23         | Other        | Rest of United States | Close friend    | More than once a week | nan           | nan        | nan          | nan                   | nan             | nan
1                | 1/24/2019      | 10:34:00       | Female            | 21             | Senior           | Bay Area              | 5             | Female        | 20         | Junior       | Bay Area              | Close friend    | More than once a week | Female        | 21         | Senior       | Bay Area              | Friend          | More than once a week | Female        | 40         | Other        | Rest of World         | Close friend    | Once a week           | Female        | 17         | Other        | Rest of United States | Close friend    | Once a week           | Female        | 21         | Senior       | Bay Area              | Close friend    | Once a week
2                | 1/24/2019      | 15:21:00       | Female            | 31             | Other            | Bay Area              | 5             | Female        | 24         | Other        | Rest of United States | Close friend    | More than once a week | Female        | 24         | Other        | Rest of United States | Close friend    | Once a week           | Female        | 36         | Other        | Rest of United States | Close friend    | Once a week           | Female        | 26         | Other        | Rest of United States | Close friend    | Once a month          | Female        | 28         | Other        | Rest of United States | Close friend    | Once a week
3                | 1/24/2019      | 18:23:00       | Female            | 25             | Other            | Bay Area              | 6+            | Female        | 25         | Other        | Rest of United States | Close friend    | More than once a week | Female        | 60         | Other        | Rest of United States | Close friend    | Once a week           | Male          | 62         | Other        | Bay Area              | Close friend    | Once a week           | Female        | 25         | Other        | Bay Area              | Friend          | Once a year           | Female        | 39         | Other        | Rest of World         | Acquaintance    | Once a month
1                | 1/24/2019      | 10:30:00       | Female            | 23             | Junior           | Rest of World         | 6+            | Female        | 53         | Other        | Rest of World         | Close friend    | More than once a week | Female        | 21         | Junior       | Rest of World         | Close friend    | Once a week           | Male          | 21         | Junior       | Rest of World         | Close friend    | Once a week           | Female        | 21         | Junior       | Rest of World         | Close friend    | Once a week           | Male          | 21         | Junior       | Rest of World         | Friend          | More than once a week
2                | 1/25/2019      | 11:20:00       | Female            | 21             | Other            | Rest of World         | 4             | Female        | 21         | Other        | Bay Area              | Close friend    | More than once a week | Female        | 21         | Senior       | Bay Area              | Close friend    | Once a week           | Female        | 21         | Other        | Bay Area              | Close friend    | Once a week           | Female        | 53         | Other        | Bay Area              | Friend          | Once a week           | nan           | nan        | nan          | nan                   | nan             | nan
1                | 1/24/2019      | 10:41:00       | Female            | 19             | Sophomore        | Rest of World         | 6+            | Female        | 20         | Sophomore    | Rest of World         | Close friend    | More than once a week | Female        | 20         | Sophomore    | Rest of World         | Close friend    | More than once a week | Female        | 18         | Sophomore    | Rest of World         | Friend          | Once a week           | Male          | 19         | Sophomore    | Rest of World         | Friend          | Once a week           | Male          | 19         | Sophomore    | Rest of World         | Friend          | Once a year
2                | 1/24/2019      | 21:35:00       | Female            | 18             | Freshman         | Rest of United States | 4             | Female        | 18         | Freshman     | Rest of United States | Close friend    | Once a week           | Female        | 19         | Freshman     | LA Area               | Close friend    | More than once a week | Male          | 18         | Freshman     | Rest of United States | Close friend    | Once a week           | Female        | 18         | Freshman     | Rest of United States | Close friend    | Once a month          | nan           | nan        | nan          | nan                   | nan             | nan
... (93 rows omitted)

Let's work with the first 10 rows of this data as an example to learn basic syntax.

In [7]:
# Assign this table to a name called survey
### path needs to be updated for this year's data
survey = Table.read_table('/Users/Mia/Dropbox/for_mia/ugur-demog-180-summer-2018/data/survey/ucb_personal_networks_clean.csv')

# Then choose the first 10 rows as an example
example = survey.take[:10]

# Take a look at this dataset called example
example

interview_number | interview_date | interview_time | respondent_gender | respondent_age | respondent_class | respondent_home    | number_alters | alter1_gender | alter1_age | alter1_class | alter1_home        | alter2_gender | alter2_age | alter2_class | alter2_home        | alter3_gender | alter3_age | alter3_class | alter3_home        | alter4_gender | alter4_age | alter4_class | alter4_home           | alter5_gender | alter5_age | alter5_class | alter5_home
1                | 1/18/18        | 11:44:00 AM    | Male              | 19             | Freshman         | Bay Area           | 5             | Male          | 19         | Freshman     | Bay Area           | Male          | 18         | Freshman     | Bay Area           | Male          | 18         | Freshman     | LA Area            | Female        | 18         | Freshman     | Bay Area              | Male          | 17         | Other        | Bay Area
2                | 1/18/18        | 2:40:00 PM     | Male              | 21             | Senior           | Rest of California | 5             | Female        | 21         | Other        | LA Area            | Female        | 21         | Other        | Rest of California | Male          | 21         | Other        | Rest of California | Male          | 22         | Other        | Rest of California    | Female        | 19         | Sophomore    | LA Area
3                | 1/18/18        | 2:50:00 PM     | Female            | 20             | Junior           | LA Area            | 4             | Male          | 22         | Senior       | LA Area            | Female        | 20         | Junior       | Bay Area           | Female        | 20         | Junior       | Bay Area           | Female        | 21         | Junior       | LA Area               | nan           | nan        | nan          | nan
1                | 1/18/18        | 11:39:00 AM    | Male              | 21             | Senior           | Bay Area           | 5             | Female        | 26         | Senior       | Bay Area           | Male          | 30         | Other        | Bay Area           | Male          | 27         | Senior       | Bay Area           | Male          | 24         | Senior       | Bay Area              | Female        | 51         | Other        | Rest of World
2                | 1/18/18        | 7:00:00 PM     | Male              | 20             | Junior           | LA Area            | 5             | Female        | 52         | Other        | Rest of World      | Male          | 60         | Other        | Rest of World      | Female        | 18         | Freshman     | LA Area            | Female        | 22         | Senior       | Rest of World         | Female        | 64         | Other        | Rest of World
3                | 1/18/18        | 7:30:00 PM     | Female            | 19             | Sophomore        | Rest of World      | 5             | Female        | 19         | Sophomore    | Rest of World      | Female        | 20         | Sophomore    | Rest of World      | Female        | 19         | Sophomore    | Rest of World      | Female        | 46         | Other        | Rest of World         | Female        | 19         | Sophomore    | LA Area
1                | 1/19/18        | 11:45:00 AM    | Female            | 20             | Junior           | LA Area            | 5             | Male          | 24         | Other        | Rest of California | Male          | 24         | Other        | Rest of California | Female        | 45         | Other        | LA Area            | Female        | 23         | Senior       | LA Area               | Male          | 46         | Other        | LA Area
1                | 1/18/18        | 11:40:00 AM    | Female            | 21             | Junior           | Rest of California | 5             | Male          | 62         | Other        | Rest of California | Male          | 21         | Junior       | Rest of California | Male          | 20         | Senior       | LA Area            | Male          | 21         | Senior       | Rest of California    | Female        | 21         | Junior       | Rest of California
1                | 1/18/18        | 7:42:00 PM     | Female            | 21             | Senior           | LA Area            | 6+            | Female        | 34         | Other        | Bay Area           | Female        | 22         | Senior       | LA Area            | Female        | 22         | Senior       | LA Area            | Female        | 57         | Other        | Rest of United States | Female        | 19         | Sophomore    | Rest of United States
2                | 1/18/18        | 7:46:00 PM     | Female            | 22             | Senior           | LA Area            | 5             | Female        | 21         | Senior       | LA Area            | Female        | 61         | Other        | LA Area            | Female        | 23         | Other        | LA Area            | Female        | 22         | Senior       | LA Area               | Female        | 21         | Junior       | LA Area

## 0.2 Accessing values in the tables

To access values of columns in the table, use `column()`, which takes a column label or index and returns an array. Alternatively, `columns()` returns a list of columns (arrays).

Let's use `example` data.

In [8]:
example.column('respondent_gender') # This line returns the description of the column called "letter". You use quotes because you are refering to a name

array(['Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female',
       'Female', 'Female', 'Female'],
      dtype='<U6')

You can also refer to the "letter" column by index.
** Indexing starts from 0. The "interview_number" column, which is the 1st column, is column(0).

In [9]:
example.column(0) # indexing takes numbers, don't put numbers in quotes!

array([1, 2, 3, 1, 2, 3, 1, 1, 1, 2])

In [10]:
example.column(1)

array(['1/18/18', '1/18/18', '1/18/18', '1/18/18', '1/18/18', '1/18/18',
       '1/19/18', '1/18/18', '1/18/18', '1/18/18'],
      dtype='<U7')

You can use square brackets to do the same thing as the .column function as a short hand.

In [11]:
example['interview_number']

array([1, 2, 3, 1, 2, 3, 1, 1, 1, 2])

In [12]:
example[0]

array([1, 2, 3, 1, 2, 3, 1, 1, 1, 2])

To access values by row, `row()` returns a row by index. You can use `row('name')` or `row[index number]` to refer to the row you want to access.

Alternatively, `rows()` returns a list-like **Rows** object that contains tuple like **Row** objects. You can further point to the elements in this list.

In [13]:
example.rows[0]

Row(interview_number=1, interview_date='1/18/18', interview_time='11:44:00 AM', respondent_gender='Male', respondent_age=19, respondent_class='Freshman', respondent_home='Bay Area', number_alters='5', alter1_gender='Male', alter1_age=19, alter1_class='Freshman', alter1_home='Bay Area', alter2_gender='Male', alter2_age=18.0, alter2_class='Freshman', alter2_home='Bay Area', alter3_gender='Male', alter3_age=18.0, alter3_class='Freshman', alter3_home='LA Area', alter4_gender='Female', alter4_age=18.0, alter4_class='Freshman', alter4_home='Bay Area', alter5_gender='Male', alter5_age=17.0, alter5_class='Other', alter5_home='Bay Area')

In [14]:
example.row(0)

Row(interview_number=1, interview_date='1/18/18', interview_time='11:44:00 AM', respondent_gender='Male', respondent_age=19, respondent_class='Freshman', respondent_home='Bay Area', number_alters='5', alter1_gender='Male', alter1_age=19, alter1_class='Freshman', alter1_home='Bay Area', alter2_gender='Male', alter2_age=18.0, alter2_class='Freshman', alter2_home='Bay Area', alter3_gender='Male', alter3_age=18.0, alter3_class='Freshman', alter3_home='LA Area', alter4_gender='Female', alter4_age=18.0, alter4_class='Freshman', alter4_home='Bay Area', alter5_gender='Male', alter5_age=17.0, alter5_class='Other', alter5_home='Bay Area')

In [15]:
first = example.rows[0]
first[0] # this will show the first element in the first row of t, which is t.rows[0]

1

You can get the number of rows:

In [16]:
example.num_rows

10

## 0.3 Manipulating data

Adding a column:

In [17]:
example.with_column('interviewer_id', [1,1,1,2,2,2,3,3,3,4]) # here we add a column that counts the interviewers
                                                             # You will see this column on the right of the table (scroll to the right)

interview_number | interview_date | interview_time | respondent_gender | respondent_age | respondent_class | respondent_home    | number_alters | alter1_gender | alter1_age | alter1_class | alter1_home        | alter2_gender | alter2_age | alter2_class | alter2_home        | alter3_gender | alter3_age | alter3_class | alter3_home        | alter4_gender | alter4_age | alter4_class | alter4_home           | alter5_gender | alter5_age | alter5_class | alter5_home           | interviewer_id
1                | 1/18/18        | 11:44:00 AM    | Male              | 19             | Freshman         | Bay Area           | 5             | Male          | 19         | Freshman     | Bay Area           | Male          | 18         | Freshman     | Bay Area           | Male          | 18         | Freshman     | LA Area            | Female        | 18         | Freshman     | Bay Area              | Male          | 17         | Other        | Bay Area              | 1
2                | 1/18/18        | 2:40:00 PM     | Male              | 21             | Senior           | Rest of California | 5             | Female        | 21         | Other        | LA Area            | Female        | 21         | Other        | Rest of California | Male          | 21         | Other        | Rest of California | Male          | 22         | Other        | Rest of California    | Female        | 19         | Sophomore    | LA Area               | 1
3                | 1/18/18        | 2:50:00 PM     | Female            | 20             | Junior           | LA Area            | 4             | Male          | 22         | Senior       | LA Area            | Female        | 20         | Junior       | Bay Area           | Female        | 20         | Junior       | Bay Area           | Female        | 21         | Junior       | LA Area               | nan           | nan        | nan          | nan                   | 1
1                | 1/18/18        | 11:39:00 AM    | Male              | 21             | Senior           | Bay Area           | 5             | Female        | 26         | Senior       | Bay Area           | Male          | 30         | Other        | Bay Area           | Male          | 27         | Senior       | Bay Area           | Male          | 24         | Senior       | Bay Area              | Female        | 51         | Other        | Rest of World         | 2
2                | 1/18/18        | 7:00:00 PM     | Male              | 20             | Junior           | LA Area            | 5             | Female        | 52         | Other        | Rest of World      | Male          | 60         | Other        | Rest of World      | Female        | 18         | Freshman     | LA Area            | Female        | 22         | Senior       | Rest of World         | Female        | 64         | Other        | Rest of World         | 2
3                | 1/18/18        | 7:30:00 PM     | Female            | 19             | Sophomore        | Rest of World      | 5             | Female        | 19         | Sophomore    | Rest of World      | Female        | 20         | Sophomore    | Rest of World      | Female        | 19         | Sophomore    | Rest of World      | Female        | 46         | Other        | Rest of World         | Female        | 19         | Sophomore    | LA Area               | 2
1                | 1/19/18        | 11:45:00 AM    | Female            | 20             | Junior           | LA Area            | 5             | Male          | 24         | Other        | Rest of California | Male          | 24         | Other        | Rest of California | Female        | 45         | Other        | LA Area            | Female        | 23         | Senior       | LA Area               | Male          | 46         | Other        | LA Area               | 3
1                | 1/18/18        | 11:40:00 AM    | Female            | 21             | Junior           | Rest of California | 5             | Male          | 62         | Other        | Rest of California | Male          | 21         | Junior       | Rest of California | Male          | 20         | Senior       | LA Area            | Male          | 21         | Senior       | Rest of California    | Female        | 21         | Junior       | Rest of California    | 3
1                | 1/18/18        | 7:42:00 PM     | Female            | 21             | Senior           | LA Area            | 6+            | Female        | 34         | Other        | Bay Area           | Female        | 22         | Senior       | LA Area            | Female        | 22         | Senior       | LA Area            | Female        | 57         | Other        | Rest of United States | Female        | 19         | Sophomore    | Rest of United States | 3
2                | 1/18/18        | 7:46:00 PM     | Female            | 22             | Senior           | LA Area            | 5             | Female        | 21         | Senior       | LA Area            | Female        | 61         | Other        | LA Area            | Female        | 23         | Other        | LA Area            | Female        | 22         | Senior       | LA Area               | Female        | 21         | Junior       | LA Area               | 4

In [18]:
# NOTE that .with_column returns a new table without modifying the original one. The table t is still the same.
example

interview_number | interview_date | interview_time | respondent_gender | respondent_age | respondent_class | respondent_home    | number_alters | alter1_gender | alter1_age | alter1_class | alter1_home        | alter2_gender | alter2_age | alter2_class | alter2_home        | alter3_gender | alter3_age | alter3_class | alter3_home        | alter4_gender | alter4_age | alter4_class | alter4_home           | alter5_gender | alter5_age | alter5_class | alter5_home
1                | 1/18/18        | 11:44:00 AM    | Male              | 19             | Freshman         | Bay Area           | 5             | Male          | 19         | Freshman     | Bay Area           | Male          | 18         | Freshman     | Bay Area           | Male          | 18         | Freshman     | LA Area            | Female        | 18         | Freshman     | Bay Area              | Male          | 17         | Other        | Bay Area
2                | 1/18/18        | 2:40:00 PM     | Male              | 21             | Senior           | Rest of California | 5             | Female        | 21         | Other        | LA Area            | Female        | 21         | Other        | Rest of California | Male          | 21         | Other        | Rest of California | Male          | 22         | Other        | Rest of California    | Female        | 19         | Sophomore    | LA Area
3                | 1/18/18        | 2:50:00 PM     | Female            | 20             | Junior           | LA Area            | 4             | Male          | 22         | Senior       | LA Area            | Female        | 20         | Junior       | Bay Area           | Female        | 20         | Junior       | Bay Area           | Female        | 21         | Junior       | LA Area               | nan           | nan        | nan          | nan
1                | 1/18/18        | 11:39:00 AM    | Male              | 21             | Senior           | Bay Area           | 5             | Female        | 26         | Senior       | Bay Area           | Male          | 30         | Other        | Bay Area           | Male          | 27         | Senior       | Bay Area           | Male          | 24         | Senior       | Bay Area              | Female        | 51         | Other        | Rest of World
2                | 1/18/18        | 7:00:00 PM     | Male              | 20             | Junior           | LA Area            | 5             | Female        | 52         | Other        | Rest of World      | Male          | 60         | Other        | Rest of World      | Female        | 18         | Freshman     | LA Area            | Female        | 22         | Senior       | Rest of World         | Female        | 64         | Other        | Rest of World
3                | 1/18/18        | 7:30:00 PM     | Female            | 19             | Sophomore        | Rest of World      | 5             | Female        | 19         | Sophomore    | Rest of World      | Female        | 20         | Sophomore    | Rest of World      | Female        | 19         | Sophomore    | Rest of World      | Female        | 46         | Other        | Rest of World         | Female        | 19         | Sophomore    | LA Area
1                | 1/19/18        | 11:45:00 AM    | Female            | 20             | Junior           | LA Area            | 5             | Male          | 24         | Other        | Rest of California | Male          | 24         | Other        | Rest of California | Female        | 45         | Other        | LA Area            | Female        | 23         | Senior       | LA Area               | Male          | 46         | Other        | LA Area
1                | 1/18/18        | 11:40:00 AM    | Female            | 21             | Junior           | Rest of California | 5             | Male          | 62         | Other        | Rest of California | Male          | 21         | Junior       | Rest of California | Male          | 20         | Senior       | LA Area            | Male          | 21         | Senior       | Rest of California    | Female        | 21         | Junior       | Rest of California
1                | 1/18/18        | 7:42:00 PM     | Female            | 21             | Senior           | LA Area            | 6+            | Female        | 34         | Other        | Bay Area           | Female        | 22         | Senior       | LA Area            | Female        | 22         | Senior       | LA Area            | Female        | 57         | Other        | Rest of United States | Female        | 19         | Sophomore    | Rest of United States
2                | 1/18/18        | 7:46:00 PM     | Female            | 22             | Senior           | LA Area            | 5             | Female        | 21         | Senior       | LA Area            | Female        | 61         | Other        | LA Area            | Female        | 23         | Other        | LA Area            | Female        | 22         | Senior       | LA Area               | Female        | 21         | Junior       | LA Area

Let's reduce the table to only contain the information about the respondents for a simpler illustration.

You select columns with `select()`.

In [19]:
example.select(['interview_number','respondent_gender','respondent_age','respondent_class',
               'respondent_home'])

interview_number | respondent_gender | respondent_age | respondent_class | respondent_home
1                | Male              | 19             | Freshman         | Bay Area
2                | Male              | 21             | Senior           | Rest of California
3                | Female            | 20             | Junior           | LA Area
1                | Male              | 21             | Senior           | Bay Area
2                | Male              | 20             | Junior           | LA Area
3                | Female            | 19             | Sophomore        | Rest of World
1                | Female            | 20             | Junior           | LA Area
1                | Female            | 21             | Junior           | Rest of California
1                | Female            | 21             | Senior           | LA Area
2                | Female            | 22             | Senior           | LA Area

In [20]:
# Let's assign this as a new dataset
example2 = example.select(['interview_number','respondent_gender','respondent_age','respondent_class',
               'respondent_home'])

You can renaming columns with `relabeled()`:

In [21]:
example2.relabeled('respondent_home', 'respondent_residency')

interview_number | respondent_gender | respondent_age | respondent_class | respondent_residency
1                | Male              | 19             | Freshman         | Bay Area
2                | Male              | 21             | Senior           | Rest of California
3                | Female            | 20             | Junior           | LA Area
1                | Male              | 21             | Senior           | Bay Area
2                | Male              | 20             | Junior           | LA Area
3                | Female            | 19             | Sophomore        | Rest of World
1                | Female            | 20             | Junior           | LA Area
1                | Female            | 21             | Junior           | Rest of California
1                | Female            | 21             | Senior           | LA Area
2                | Female            | 22             | Senior           | LA Area

In [22]:
# Like .with_column(), renaming doens't change the original example1
example2

interview_number | respondent_gender | respondent_age | respondent_class | respondent_home
1                | Male              | 19             | Freshman         | Bay Area
2                | Male              | 21             | Senior           | Rest of California
3                | Female            | 20             | Junior           | LA Area
1                | Male              | 21             | Senior           | Bay Area
2                | Male              | 20             | Junior           | LA Area
3                | Female            | 19             | Sophomore        | Rest of World
1                | Female            | 20             | Junior           | LA Area
1                | Female            | 21             | Junior           | Rest of California
1                | Female            | 21             | Senior           | LA Area
2                | Female            | 22             | Senior           | LA Area

You can selecting rows by index with `take()` and conditionally with `where()`:

In [23]:
example2.take(2) # returns the 3RD row

interview_number | respondent_gender | respondent_age | respondent_class | respondent_home
3                | Female            | 20             | Junior           | LA Area

In [24]:
example2.where('respondent_gender', 'Female') # returns the rows where the respondent_gender is "Female"

interview_number | respondent_gender | respondent_age | respondent_class | respondent_home
3                | Female            | 20             | Junior           | LA Area
3                | Female            | 19             | Sophomore        | Rest of World
1                | Female            | 20             | Junior           | LA Area
1                | Female            | 21             | Junior           | Rest of California
1                | Female            | 21             | Senior           | LA Area
2                | Female            | 22             | Senior           | LA Area

In [25]:
example2.where(example2['respondent_age'] < 20) # example1['count'] refers to the values in column 'count', you could only compare values to values
                        # this whole function returns the rows where respondent_age < 20

interview_number | respondent_gender | respondent_age | respondent_class | respondent_home
1                | Male              | 19             | Freshman         | Bay Area
3                | Female            | 19             | Sophomore        | Rest of World

In [26]:
# Let's see what example2['respondent_age'] < 20 returns
example2['respondent_age'] < 20 # the results of comparison are an array of booleans (trues or falses)

array([ True, False, False, False, False,  True, False, False, False, False], dtype=bool)

Further operation on table data with `sort()`, `group()`, and `pivot()`.

In [27]:
example2.sort('respondent_age') # this function sorts the table based on the values in 'respondent_age' column

interview_number | respondent_gender | respondent_age | respondent_class | respondent_home
1                | Male              | 19             | Freshman         | Bay Area
3                | Female            | 19             | Sophomore        | Rest of World
3                | Female            | 20             | Junior           | LA Area
2                | Male              | 20             | Junior           | LA Area
1                | Female            | 20             | Junior           | LA Area
2                | Male              | 21             | Senior           | Rest of California
1                | Male              | 21             | Senior           | Bay Area
1                | Female            | 21             | Junior           | Rest of California
1                | Female            | 21             | Senior           | LA Area
2                | Female            | 22             | Senior           | LA Area

In [28]:
example2.sort('respondent_gender', descending = True) # You can also sort the first letters of words from z to a.

interview_number | respondent_gender | respondent_age | respondent_class | respondent_home
2                | Male              | 20             | Junior           | LA Area
1                | Male              | 21             | Senior           | Bay Area
2                | Male              | 21             | Senior           | Rest of California
1                | Male              | 19             | Freshman         | Bay Area
2                | Female            | 22             | Senior           | LA Area
1                | Female            | 21             | Senior           | LA Area
1                | Female            | 21             | Junior           | Rest of California
1                | Female            | 20             | Junior           | LA Area
3                | Female            | 19             | Sophomore        | Rest of World
3                | Female            | 20             | Junior           | LA Area

In [29]:
# You may pass a reducing function into the collect argument
# Note the renaming of the points column because of the collect argument

example2.select(['respondent_home','respondent_age']).group('respondent_home', collect = min) # this line selects the two columns 'respondent_home' and 'respondent_age',
                                                           # and then group these row based on 'respondent_home
                                                           # and report the smallest number of the 'respondent_age' in each category.

respondent_home    | respondent_age min
Bay Area           | 19
LA Area            | 20
Rest of California | 21
Rest of World      | 19

In [30]:
# You can use the 'pivot' function to do some tabulations.
example2.pivot('respondent_home','respondent_gender')

respondent_gender | Bay Area | LA Area | Rest of California | Rest of World
Female            | 0        | 4       | 1                  | 1
Male              | 2        | 1       | 1                  | 0

In [31]:
# We can take a pivot look at the whole dataset
survey.pivot('respondent_home', 'respondent_gender')

respondent_gender | Bay Area | LA Area | Rest of California | Rest of United States | Rest of World
Female            | 16       | 18      | 18                 | 9                     | 7
Male              | 17       | 9       | 10                 | 8                     | 11
Other             | 0        | 0       | 1                  | 0                     | 0